:root {
  --semi-dark-grey: rgb(73, 72, 72);
}

.text {
  color: var(--light);
  text-align:center;
}

.table {
  width: 600px;
}

table > tbody > tr:nth-of-type(odd) {
  background-color: rgb(155, 155, 155);
}

.page-header {
  text-align:center;
  color: var(--semi-dark-grey);
}

.info-header {
  text-align:center;
  color: var(--light);
}

.sub-header {
  text-align:center;
  color: var(--semi-dark-grey);
}

.columns {
  background-color: var(--semi-dark-grey);
  color: var(--light);
  }

.btn {
  text-align:center;
  background-color: hsla(30, 90%, 56%, 0.9);
}

.btn:hover {
  background-color: hsla(20, 1%, 56%, 0.9);
}

.bg-gray {
  background-color:rgb(44, 44, 44);
}

.schedule-info {
  text-align:center;
  font-weight: bold;
}

.hide {
  display: none;
}

input {
  max-width: 10rem;
}

@media (min-width: 768px) {

  input {
    max-width: 14rem;
  }
}